body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.principal{
    background-color: rgb(243, 241, 102);
    margin: auto;
    width: 800px;
    height: 900px;
    border-radius: 10px;
    border-color: black;

}

.resultados{
    background-color: rgb(241, 236, 159);
    margin: auto;
    width: 100%;
    height: 50%;
    border-left: 2cm;
}

    h1{
        text-align: center;
    }


    label{
        font-size: larger;
    }

    p{
        font-size: larger;
    }

.resultados{
    display: inline-flex;
    height: auto;
}
.divResul{
    width: 100px;
    text-align: center;
}

.promedio{
    height: auto;
}